.cars-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px;
}

.load-more-btn {
  position: relative;
  bottom: 10px;
  left: 50%;
  right: 50%;
  margin: auto;
}

mat-form-field {
  display: block;
  margin-top: 10px;
  width: 300px;
}

.no-cars-msg {
  text-align: center;
}
