<div class="page-container">
  <div class="actions-group">
    <mat-form-field appearance="fill">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (ngModelChange)="filterOnChange($event)"
        [formControl]="filter"
      />
      <button
        mat-button
        *ngIf="filter.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearInput()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-stroked-button color="primary" (click)="openFormDialog()">
      Add dealer
    </button>
  </div>

  <app-dealers-table
    [dealers]="dealers"
    (triggerDownloadEvent)="getDealers(null, searchString)"
    [style.display]="!loading ? 'block' : 'none'"
  ></app-dealers-table>
  <mat-paginator
    *ngIf="showPaginator; else noPagination"
    [length]="length"
    [pageSize]="paginatorConfig.pageSize"
    (page)="getDealers($event)"
    [pageSizeOptions]="paginatorConfig.pageSizeOptions"
    showFirstLastButtons="false"
  >
  </mat-paginator>
  <ng-template #noPagination></ng-template>
</div>
