<div class="car-container">
  <img
    [src]="car?.image || defaultImg"
    [alt]="car?.model ? car?.model : 'Model not specified'"
  />
  <div class="car-info">
    <h3>
      {{ car?.model }}
    </h3>
    <div class="car-dealer">
      Dealer: <b>{{ car?.brand ? car?.brand : 'Brand not specified' }}</b>
    </div>
    <div class="car-class">
      Class: <b>{{ car?.class ? car?.class : 'Class not specified' }}</b>
    </div>
    <div class="car-year">
      Year: <b>{{ car?.year ? car?.year : 'Year not specified' }}</b>
    </div>
    Color: <b>{{ car?.color ? car?.color : 'Color not specified' }}</b>
  </div>
</div>
